#introSprintSection{
	background-image: url("../images/sprints-page/intro-sprint.png");
    min-height: 650px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin-top: -1.5rem;
}

#introTalksSection{
    background-image: url("../images/talks-page/talks-introSection.png");
    image-resolution: 100dpi;
    min-height: 650px;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    margin-top: 0rem;
}

#introAdvisorySection{
	background-image: url("../images/advisory-page/adisory-intro.png");
    min-height: 650px;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    margin-top: 0rem;
}

#introCreativitySection{
    background-image: url("../images/creativity-page/creativty-intro.png");
    min-height: 650px;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    margin-top: 0rem;
}

#section2-sprint{
    font-size: 1.5rem;
    line-height: 2rem;
}

.sprint-testimonial{
    color: #009ADA!important;
}

.unleash-sprint{
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#intro-sprint-header{
    border: 10px solid #65BBE9;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#testimonial-giver{
    font-size: 1.1rem;
}

.testimonial-pic{
    height: 4.4rem;
}


#talk-img-header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}


#on-demand-text{
    color: #87ceeb;
    font-size: 5rem;
    border-bottom: 0.6rem solid #F9D500;
    line-height: 6rem;
    display: inline-block;
}

#challenge-sub-text{
    font-family: oswald;
    font-weight: 100;
}

#intro-challenge-header{
    border: 10px solid #72ced8;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    color: #72ced8;
}