#introSprintSection{
	background-image: url("../images/sprints-page/intro-sprint.png");
    
}

#introTalksSection{
    background-image: url("../images/talks-page/talks-introSection.png");
}

#introAdvisorySection{
	background-image: url("../images/advisory-page/adisory-intro.png");
}

#introCreativitySection{
    background-image: url("../images/creativity-page/creativty-intro.png");
}

#section2-sprint{
    font-size: 1.5rem;
    line-height: 2rem;
    padding:0rem 10rem 0rem 10rem;
}

.sprint-testimonial{
    color: #009ADA!important;
}

.unleash-sprint{
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#intro-sprint-header{
    border: 10px solid #65BBE9;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#testimonial-giver{
    font-size: 1.1rem;
}

.testimonial-pic{
    height: 4.4rem;
}


#talk-img-header{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}


#on-demand-text{
    color: #87ceeb;
    font-size: 5rem;
    border-bottom: 0.6rem solid #F9D500;
    line-height: 6rem;
    display: inline-block;
}

#challenge-sub-text{
    font-family: oswald;
    font-weight: 100;
}

#intro-challenge-header{
    border: 10px solid #72ced8;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    color: #72ced8;
}

@media (min-width: 768px) {

    #section2-sprint {
        padding: 0rem 3rem;
    }
 }

@media (max-width: 576px) { 
    #section2-sprint {
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding: 0rem 0.5rem;
    }

    .testimonial-pic {
        height: 3rem;
    }

    #on-demand-text {
        font-size: 2.5rem;
        border-bottom: 0.6rem solid #F9D500;
        line-height: 3rem;
        display: inline-block;
    }

    #intro-challenge-header{
        padding-left: 0rem;
    padding-right: 0rem;
    }
}